
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff ;
  box-sizing: border-box;
  background-image: url("./data/background-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Oswald', sans-serif;
  
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
.table-list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 490px;
  background: rgb(122, 107, 72) !important;
}
.table-list td {
  --bs-table-bg-type: #323539!important;
  --bs-table-hover-bg: rgb(100, 98, 98) !important;
}

.images-avatar{
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.modal{
  padding-top: 40px;
  margin-top: 20px;
}
.modal-dialog {
  display: flex;
  justify-content: center;
}
.modal-content {
  background: rgb(122, 107, 72);
  width: 900px;
}
.modal-header {
  position: relative;
  height: 150px;
  background: rgb(91, 85, 69);
  }
.modal-body {
  text-align: justify;
  padding: 25px;
  background: rgb(122, 107, 72);
  font-family: 'DM Serif Display';
  font-size: 18px;
}


.title-info__image {
  position: absolute;
  top: -40%; 
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 180px;
  border-radius: 50%;
  border: 5px groove rgb(170, 169, 166);
}

.btn-close {
  display: none;
}

td:hover {
  background-color: white;
}

.table-border {
  border: 10px #000 groove;
}
.img-border {
  border: 5px #000 groove;
}

.img__wrapper {
  width: 225px;
  height: 200px;
  border: 5px #000 groove;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.boxing-record__container {
  font-family: 'Alumni Sans Collegiate One';
  font-size: 30px; 
  color: rgb(7, 7, 7);
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.boxing-record__name {
 text-align: center;
 font-size: 48px; 
 padding-top: 5px;
}

.boxing-record__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.boxing-record__wrapper h4 {
  font-size: 36px; 
}

.boxing-record__title {
  display: flex;
}

.boxing-record__item {
  text-align: center;
}

.boxing-record__item h5 {
  font-size: 30px;
}

.boxing-record__item:nth-child(n) {
  padding-right: 15px;
  padding-top: 5px;
}

.skills__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  height: 100%;
  padding: 20px 50px 20px 50px;
  background: rgb(122, 107, 72);
  border: 5px #000 groove;
  }

  .skills__item {
    display: flex;
    flex-direction: column;
    gap: 9px;
   }
   .skills__item h5 {
    font-family: 'Alumni Sans Collegiate One';
    font-size: 30px;
    color: rgb(7, 7, 7);
   }
   .skills__item-score {
    color: rgb(7, 7, 7);
    font-family: 'Alumni Sans Collegiate One';
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
   }

   .progress-bar-container {
    width: 400px;
    height: 15px;
    background-color: rgb(82, 72, 48);
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
  }
  .progress-bar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
 
    padding-top: 15px;
    padding-bottom: 60px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: rgb(23, 22, 22);
  }

  .img--hidden {
    display: none;
  }

  .img__container{

  }
  

@media (max-width: 790px) {
  .modal {
    margin-top: 0;
    padding-top: 25px;
  }
  .boxer-info__modal{
    padding-top: 50px !important;
  }
  .modal-content {
    width: 700px;
  }
  .boxing-record__container{
    width: 700px;
  }
  .boxing-record__container h1{
    margin-top: 15px;
    font-size: 28px;
  }
  .boxing-record__wrapper {
    margin-top: 10px;
    padding: 0 20px
  }
  .boxing-record__wrapper h4{
    padding-left: 15px;
    font-size: 22px;
  }
  .boxing-record__item {
    font-size: 20px;
  }
  .boxing-record__item h5 {
    font-size: 20px;
    white-space: nowrap;
  }
  .skills__container{
    width: 700px;
  }
  .skills__item {
    gap: 7px;
  }
  .skills__item h5, p {
    font-size: 24px;
  }
  .progress-bar__wrapper {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .btn-close {
    display: block;
  }
}

@media (max-width: 500px) {
  .img__wrapper{
    display: none;
  }
  .table-list{
    transform: translate(-50%, 20%);
    width: 383px;
  }
  .modal{
    padding-top: 25px;
  }
  .boxer-info__modal{
    padding-top: 50px !important;
  }
  .modal-content {
    width: 380px;
  }
  .img--hidden {
    display: block !important;
    width: 100%;
    height: 160px;
  }
  .img__container {
    display:  flex;
  }
  .boxing-record__container{
    width: 380px;
    align-items: center;
    justify-content: center;
  }
  .boxing-record__container h1{
    margin-top: 0;
    font-size: 28px;
  }
  .boxing-record__wrapper {
    margin-top: 10px;
    padding: 0 20px
  }
  .boxing-record__wrapper h4{
    padding-left: 15px;
    font-size: 22px;
  }
  .boxing-record__item {
    font-size: 20px;
  }
  .boxing-record__item h5 {
    font-size: 20px;
    white-space: nowrap;
  }
  .skills__container{
    width: 380px;
  }
  .skills__item{
    gap: 6px;
  }
  .skills__item h5, p {
    font-size: 18px;
  }
  .progress-bar-container {
    height: 10px;
    width: 120px !important;
  }
  .progress-bar__wrapper {
    padding-top: 8px;
    padding-bottom: 38px;
  }
}
